   // graph styles
    ::ng-deep rect.highcharts-background {
        opacity: .3;
    } 
    ::ng-deep circle-progress{
        tspan {
            font-weight: 600;
            fill: #3F3F3F;
        }
    }
    ::ng-deep .highcharts-yaxis-labels{
            text{
            fill: #fff!important;
            }
        }

    ::ng-deep .highcharts-yaxis-grid {
        .highcharts-grid-line {
            stroke: #d5d5d5;
        }
    }

    #page_area {
        &.page{
            background-color: #fafafa;
            .page_title_sec {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #DEDEDE;
                margin-bottom: 15px;
                .sub_title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #1A1F3D;
                    margin-bottom: 15px;
                }
                .machine_identifier{
                    list-style: none;
                    display: flex;
                    li{
                        display: flex;
                        align-items: center;
                        margin-left: 5px;
                        &::after {
                            content: "|";
                            padding-left: 5px;
                            color: #aeaeae;
                        }
                        &:last-child{
                            &::after {
                               display: none;
                            }  
                        }
                        i{
                            font-size: 16px;
                            padding-right: 4px;
                        }
                        span{
                            font-size: 12px;
                            text-transform: capitalize;
                        }
                        &.active{
                            i{
                                color: #11d525;
                            }
                        }
                        &.idle{
                            i{
                                color: #646262;
                            }
                        }
                        &.stop{
                            i{
                                color: #BA1D11;
                            }
                        }
                    }
                }
            }
            .machine_list{
                display: flex;
                flex-wrap: wrap;
                .machine_item{
                    width: 24%;
                    margin: 0px 10px 20px 0;
                    .machine_header{
                        display: flex;
                        align-items: flex-end;
                        padding: 10px 5px;
                        justify-content: space-between;
                        .machine_title{
                            display: flex;  
                            .machine_name{
                                h3 {
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    margin-bottom: 0;
                                }
                                p{
                                    font-size: 12px;
                                    margin: 0;
                                }
                            }
                        }
                        .status{
                            margin: 0;
                            display: flex;
                            align-items: center;
                            i{
                                color: #34E31A;
                                font-size: 16px;
                                padding-right: 4px;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                    .machine_body{
                        .progress_bar{
                            display: flex;
                            justify-content: center;
                            padding-top: 0px;
                        }
                        .metrics{
                            list-style: none;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 15px;
                            li{
                                p{
                                    margin: 0;
                                    font-size: 10px;
                                    text-transform: uppercase;
                                }
                                span{
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }
                        .parts_sec{
                            text-align: center;
                            p{
                                margin: 0;
                                font-size: 14px;
                                text-transform: uppercase;
                                font-weight: 600;    
                            }
                        }
                        .machine_values{
                            p{
                                font-size: 12px;
                                text-align: center;
                                padding: 5px 0;
                                margin: 0;
                                span{
                                    font-weight: 700;
                                }
                            }
                        }
                        .graph{
                            figure.highcharts-figure {
                                margin: 0;
                        }
                        }
                        .graph_text{
                            font-size: 12px;
                            text-align: center;
                            padding: 5px 0;
                            p{
                                margin: 0;
                            }
                        }
                    }
                    &.active{
                    border: 1px solid #16A500;
                    .machine_header{
                        color: #fff;
                        background: #16A500;
                        .status{
                            i{
                                color: #34E31A;
                            }
                        }
                    }
                    .machine_body{
                        background: #16a5002e;
                        .parts_sec{
                            background: #16a5004f;
                            color: #fff;
                            p{
                                color: #056B2D;
                            }
                        }
                        .machine_values{
                            p{
                                background: #16A500;
                                color: #fff;
                                border-bottom: 1px solid #056B2D;
                              
                            }
                        }
                        .graph{
    
                        }
                        .graph_text{
                            background: #16A500;
                            color: #fff;
                        }
                    }
                }
           
                &.idle{
                    border: 1px solid #888888;
                    .machine_header{
                        color: #fff;
                        background: #888888;
                        .status{
                            i{
                                color: #646262;
                            }
                        }
                    }
                    .machine_body{
                        background: #8888883b;
                        .parts_sec{
                            background: #88888885;
                            color: #fff;
                          
                        }
                        .machine_values{
                            p{
                                background: #888888;
                                color: #fff;
                                border-bottom: 1px solid #646262;
                            }
                        }
                        .graph{
                            height: 120px;
                            min-height: 120px;
                        }
                        .graph_text{
                            background: #888888;
                            color: #fff;
                        }
                    }
                }
             
                &.stop{
                    border: 1px solid #F81301;
                    .machine_header{
                        color: #fff;
                        background: #F81301;
                        .status{
                            i{
                                color: #BA1D11;
                            }
                        }
                    }
                    .machine_body{
                        background: #f8130159;
                        .parts_sec{
                            background: #f81301ab;
                            color: #fff;
                          
                        }
                        .machine_values{
                            p{
                                background: #F81301;
                                color: #fff;
                                border-bottom: 1px solid #BA1D11;
                            }
                        }
                        .graph{
    
                        }
                        .graph_text{
                            background: #F81301;
                            color: #fff;
                        }
                    }
                }
                }
            }
        }
    }


    // Responsive style

    @media only screen and (max-width:768px){
        #page_area {
            &.page{
        .machine_list {
            .machine_item {
                width: 31%;
                margin: 0px 10px 20px 0;
                        }
                    }
                }
            }
      
    }

    @media only screen and (max-width:600px){
    #page_area {
        &.page{
            .page_title_sec {
                .machine_identifier{
                    margin-bottom: 10px;
                    li{
                        span{
                            font-size: 10px;
                        }
                    }
                }
            }
            .machine_list {
                .machine_item {
                    width: 100%;
                    margin: 0px 0px 20px 0;
                }
            }
        }
    }
    }

    @media only screen and (min-device-width: 320px) 
                   and (max-device-width: 768px) 
                   and (orientation: landscape) {
                    #page_area {
                        &.page{
                    .machine_list {
                        .machine_item {
                            width: 48%;
                            margin: 0px 10px 20px 0;
                                    }
                                }
                            }
                        }
                    ng-deep.highcharts-container {
                        width: 100%!important;
                    }
    }