<section class="page" id="page_area">
    <div class="section_top_padding">
        <div class="container-fluid">
            <div class="page_title_sec">
                <h2 class="sub_title">
                    Machines
                </h2>
                <ul class="machine_identifier">
                    <li>
                        <button type="text" class="add_btn" mat-button>Add New</button>
                    </li>
                    <li>
                        <!-- <i class="material-icons">
                            search
                        </i> -->
                        <div class="table_search">
                            <input class="form-control" (keyup)="doFilter($event.target.value)" type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
                          </div>
                    </li>
                </ul>
            </div>

            <div class="machines_details" id="machine_details_sec">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xd-12 mb-2">
                        <div class="machine_item_details">
                            <div class="machine_img">
                                <img src="../../../assets/images/machine/Image 4.png" class="img-fluid" alt="machine">
                            </div>
                            <div class="machine_info">
                                <h3>
                                    General Informations
                                </h3>
                                <div class="info_box">
                                    <div class="status active">
                                        <i class="material-icons">
                                            fiber_manual_record
                                        </i>
                                    <span>Active</span>
                                    </div>
                                    <div class="left_side">
                                        <div class="info_title">
                                            <h2>Doosan</h2>
                                            <p>Doosan2: <span>SSS32786AX </span></p>
                                        </div>
                                        <div class="assigned_info">
                                            <div class="assigned_box">
                                                <i class="material-icons">
                                                    priority_high
                                                </i>
                                                <div class="ml-3">
                                                    <h4>NC 00048739</h4>
                                                    <span>Assigned</span>
                                                </div>
                                            </div>
                                            <a href="javascript:;" class="view_link">View 1 Open incident</a>
                                        </div>
                                    </div>
                                    <div class="right_side">
                                        <div class="progress_bar">
                                            <circle-progress [percent]="retrieved" [radius]="50" [outerStrokeColor]="'#F7941D'"
                                                [innerStrokeColor]="'#eee'"></circle-progress>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xd-12">
                        <div class="machine_item_details">
                            <div class="machine_img">
                                <img src="../../../assets/images/machine/Image 4.png" class="img-fluid" alt="machine">
                            </div>
                            <div class="machine_info">
                                <h3>
                                    General Informations
                                </h3>
                                <div class="info_box">
                                    <div class="status active">
                                        <i class="material-icons">
                                            fiber_manual_record
                                        </i> 
                                    <span>Active</span>
                                    </div>
                                    <div class="left_side">
                                        <div class="info_title">
                                            <h2>Doosan</h2>
                                            <p>Doosan2: <span>SSS32786AX </span></p>
                                        </div>
                                        <div class="assigned_info">
                                            <div class="assigned_box">
                                                <i class="material-icons">
                                                    priority_high 
                                                </i>
                                                <div class="ml-3">
                                                    <h4>NC 00048739</h4>
                                                    <span>Assigned</span>
                                                </div>
                                            </div>
                                            <a href="javascript:;" class="view_link">View 1 Open incident</a>
                                        </div>
                                    </div>
                                    <div class="right_side">
                                        <div class="progress_bar">
                                            <circle-progress [percent]="retrieved" [radius]="50" [outerStrokeColor]="'#F7941D'"
                                                [innerStrokeColor]="'#eee'"></circle-progress>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>